*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #353535;
  --lightBg: #1f1f1f;
  --text: #f1f1f1;
  --cta: #003EB1;
  --warning: #E73D23;
  --white: #cbcbcb;
  --userMessage: #222222;
  --success: #2cb121;
}

button {
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: var(--white);
}
