.container {
  align-items: center;
  background-color: var(--background);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  padding: 0 5vw;
  width: 100%;
}

.toggleTheme {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
}
